<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/804912/pexels-photo-804912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="man on the sea" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger texr-center"> Design </small>
                    <small class="bg-light text-success texr-center ms-2"> Featured </small>
                    <small class="bg-light text-info texr-center ms-2"> Vires - 100,256 </small>
                    <small class="bg-light text-warning texr-center ms-2"> LAST UPDATED - SEP 21, 2023 </small>

                    <h1 class="mt-3 mb-3"> HOW TO START A BLOG IN 2023 EDITED NEW CATEGROY </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi et, error nemo saepe maiores impedit culpa ratione praesentium minus aliquid optio eum perspiciatis quis unde officiis, laudantium illo voluptas blanditiis fuga debitis laboriosam eligendi maxime dolore! Obcaecati repudiandae, totam nostrum laborum nam aut ad unde illo consequuntur maiores sapiente similique dolores iure, voluptatem repellendus nesciunt corporis ullam, aliquam delectus labore impedit. Aspernatur maxime, commodi possimus eaque cupiditate natus, id inventore facilis, nostrum ratione blanditiis unde reprehenderit dolorum non perferendis minima deleniti. Quae, architecto. Molestiae modi deleniti corporis, explicabo aliquam quibusdam inventore tempora eum sit facere eveniet corrupti quo recusandae deserunt?
                        
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde at dolore eos. Voluptate ea corporis, voluptatem esse, amet hic natus recusandae dolor nemo exercitationem iste tempore fugiat voluptatum iusto pariatur ad dolore quod debitis! Blanditiis ut facere numquam nostrum temporibus totam ab quisquam dolores sapiente tempore debitis laudantium ex voluptatum assumenda, minima vitae eos a praesentium quod quaerat cumque eius earum officiis reiciendis. Ab itaque id ipsum corporis! Iste molestiae accusantium est molestias porro corporis et esse nihil, rerum, qui neque eum dolore ad commodi quaerat repellat eaque sed repudiandae, tempore suscipit. Voluptatem iste voluptate quaerat enim voluptas impedit facere.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas vel eaque officia molestiae provident in hic sit quae soluta enim, sunt quis inventore at, ipsa blanditiis repudiandae similique sapiente optio quos id dolores, delectus magnam illo! Assumenda sed corporis sapiente maxime ipsam sequi voluptatibus cumque natus fuga laudantium maiores, sit, nulla quod neque voluptatem dolore iusto esse. Dolore perspiciatis impedit eos, provident libero ab velit similique explicabo est sequi animi nihil vel consequatur iusto a, aperiam illo iure fugiat reprehenderit neque dicta! Rerum mollitia excepturi alias ipsum sint iusto, omnis quaerat culpa illum distinctio, dicta, repellendus voluptatibus eveniet eos!
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
