
<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/18185921/pexels-photo-18185921/free-photo-of-lifeguard.jpeg" alt="Man in a beach" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ms-3"> Featured </small>
        <small class="bg-light text-info text-center ms-3"> Views-100,256 </small>

        <h5 class="mt-1"> HOW TO START A BLOG IN 2023 EDITED NEW CATEGROY </h5>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus totam et, maxime tenetur quisquam consequatur fuga numquam. Voluptas optio omnis consequatur sint ut tempore eveniet minus, molestias aliquid aperiam perspiciatis necessitatibus odit sit reprehenderit maiores animi doloremque similique a nostrum voluptates maxime. Delectus vero ex minus commodi libero exercitationem dolorem.</P>

        <small class="bg-light text-warning text-center ms-3"> LAST UPDATED - SEP 21, 2023 </small>

    </div>
</div>
